/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing:border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Lato', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* page css */

.header{
    position:absolute;
    left:0;
    top:50px;
    width:100%;/* position:absolute 적용시 width는 자식요소에 맞춰짐 */
}

.container{
    width:1340px;
    margin:0 auto; /* 가운데 배치 */
}

.flex-container{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.logo{
    width:178px;
    height:24px;
    text-indent:-99999em;
    background:url(../images/logo.png) no-repeat;
}

.gnb{
    display:flex;
}

.gnb-list{
    display:flex;
    width:500px;
    justify-content: space-between;
    align-items:center;
}

.gnb-list-link{
    font-size:18px;
    color:#fff;
    text-decoration:none;
}

.gnb-util-link{
    display:block;
    padding:13px 20px;
    border:1px solid #fff;
    color:#fff;
    text-decoration:none;
    font-size:18px;
    margin-left:20px;
    border-radius:50px;
}
.contents1{
    width:100%;
    height:1080px;
    background:url(../images/bg.png) no-repeat center top;
    background-size:cover;
    padding-top:300px;
}

.heading-type1{
    font-size:48px;
    font-weight:700;
    color:#fff;
}

.paragraph{
    font-size:18px;
    color:#5e6372;
    line-height:2;
}

.paragraph.type-white{
    color:#fff;
    line-height:30px;
}

.opacity50{
    opacity:0.5;
}

.contents1-theme{
    text-align:center;
}

.contents1-theme-link{
    margin-top:55px;
}

.link-button{
    /*
        inline, inline-block 요소는 text-align이 적용됨(텍스트 요소와 같게 작동)
    */
    display:inline-block;
    width:200px;
    height:50px;
    border-radius:50px;
    font-size:18px;
    text-align:center;
    line-height:46px;/* 텍스트 세로방향 가운데 배치 */
    text-decoration:none;
}

.link-button.type-white{
    background:#fff;
    color:#d32721;
}

.link-button.type-alpha{
    border:1px solid #fff;
    color:#fff;
}

.link-button.type-blue{
    background:#264699;
    color:#fff;
}

.mt10{
    margin-top:10px;
}
.mr20{
    margin-right:20px;
}

.scroll-down{
    width:25px;
    height:80px;
    text-indent:-99999em;
    background:url(../images/scroll_down.gif) no-repeat;
    background-size:25px auto;
    margin: 380px auto 0;
}

.icon-list{
    width:25%;
    float:left;
    text-align:center;
    padding: 115px 65px 100px;
}

.icon-list:nth-child(1):before{
    content:"";
    display:inline-block;
    width:103px;
    height:100px;
    background:url(../images/drone.png) no-repeat center bottom;
}
.icon-list:nth-child(2):before{
    content:"";
    display:inline-block;
    width:97px;
    height:100px;
    background:url(../images/drone-1.png) no-repeat center bottom;
}
.icon-list:nth-child(3):before{
    content:"";
    display:inline-block;
    width:84px;
    height:100px;
    background:url(../images/propeller.png) no-repeat center bottom;
}
.icon-list:nth-child(4):before{
    content:"";
    display:inline-block;
    width:71px;
    height:100px;
    background:url(../images/control.png) no-repeat center bottom;
}

.clearfix:after{
    content:"";
    display:block;
    clear:both;
}

.icon-list-title{
    font-size:30px;
    line-height:36px;
    font-weight:700;
    margin-top: 10px;
    margin-bottom: 8px;
}

.icon-list-description{
    line-height:30px;
}

.contents2{
    height:600px;
    background:#f6f6f6;
}

.contents2-link{
    text-align:center;
}

.gradient-text>span{ /* > : 직계 자손(자식) 요소 */
    background: rgb(203,0,52);
    background: linear-gradient(75deg, rgba(203,0,52,1) 0%, rgba(224,105,0,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading-type2{
    font-size:48px;
    font-weight:700;
    margin-bottom:15px;
}

.width800{
    width:800px;
}

.width960{
    width:960px;
}

.circle-list{
    margin-top:50px;
}

.circle-list-item{
    width:480px;
    height:70px;
    position:relative;
    padding-left:75px;
    font-size:14px;
    line-height:24px;
    color:#a7acbc;
    float:left;
    padding-right: 30px;
    margin-bottom: 50px;
}

.circle-list-item-number{
    display:inline-block;
    width:50px;
    height:50px;
    border:1px solid #c6cde0;
    border-radius:50px;
    font-size:24px;
    text-align:center;
    line-height:50px; /* 세로방향 가운데 정렬 */
    color:#3f4e76;
    position:absolute;
    left:0px;
}

.contents3{
    height:670px;
    padding-top:120px;
    background:url(../images/bg_drone.png) no-repeat right center;
}

.content4{
    height:640px;
    background:#f6f6f6;
}

.contents4-image{
    width:50%;
    height:640px;
    float:left;
    background:url(../images/foto_top.png) no-repeat 0 0;
    background-size:cover;
}

.contents4-text{
    width:50%;
    height:640px;
    float:left;
}